*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img{
    width: 50%;
    padding: 5%;
}

.inputs{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.inputs input{
    height: 50px;
    margin-right: 10px;
}

.inputs button{
    cursor: pointer;
}

.inputs button, .inputs input{
    padding: 0 10px;
    border: 1px solid lime;
    border-radius: 20px;
}

.lista-todo{
    margin: 0 20%;
    border-radius: 25px;
    background-color: lime;
    padding: 15px;
    border: 1px solid black;
}

.todo{
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 1px 1px black;
}

.todo:hover{
    background-color: whitesmoke;
}

.todo i{
    float: right;
}

.todo i:hover{
    cursor: pointer;
    color: red;
}

.todo:after {
    content: "";
    display: table;
    clear: both;
  }